*{
  box-sizing: border-box;
}
body{
    /* background-color: bisque; */
    padding: 1px;
    border: 1px;
}
/* .ajuste{
  max-width: 1280px;
  margin:0 auto;
} */
header{
    width: 100%;
    height: 80px;
    padding: 10px 10px;
    background-color: azure;
}
main{
  width: 100%;
  min-height: 70vh;
  background-color: #4CAF50;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
.activo {
    background-color: #4CAF50;
  }

li{
    border-right: 1px solid #bbb;
  }
  li:last-child {
    border-right: none;
  }
  .galeria{
    width: 75%;
    min-height: 100px;
    padding: 30px;
    box-sizing: border-box;
    background-color: rgba(76, 74, 74, 0.153);
    margin:0 auto;
    overflow:hidden;
    
}

.publicaciones{
    width:250px;
    height: 450px;
    padding: 20px;
    background-color: white;
    margin: 20px;
    border:1px solid #ccc;
    border-radius:10px;
    float:left;
    overflow:hidden;
    

}

.publicacion{
    width:90%;
    min-height: 450px;
    padding: 20px;
    background-color: white;
    background-size: cover;
    margin: 20px;
    border:1px solid #ccc;
    border-radius:10px;
    overflow:hidden;
}
footer{
  width: 100%;
  min-height: 150px;
  padding: 10px 8px;
  color: #111;
  text-align: center;
}

/* footer nav a{

  background-color: black;
} */
.ofertas{
  width: 960px;
  height: 400px;
  padding: 30px 30px;
  background-size: contain;
  text-align: center;
  
}
/* iconos*/
.social{
  /*las imágenes usadas tienen width de 48px*/
  width:48px;
  position:fixed;
  top:50px;
  right:0;
}

/* Extra centrado vertical*/

.social{
  /*border:1px solid #000;*/
  top:50%;
  height:205px;
  /*para poner height 192 deberíamos haber indicado en el reset de estilos font-size:0;*/
  margin-top:-100px;
}
.form{
  padding: 0;

}
h2{
  color: rgb(121, 30, 30);
  text-align: center;
  margin: 30px 0 20px 0;
  font-size: 20px;
  border-bottom: 1px solid rgb(47, 132, 94);
  padding-bottom: 20px;
}
h3{
  color: white;
}
label{
  font-size: 12px;
  color: black;

}
input{
  width: 100px;
  margin-bottom: 1px;
  padding: 1px;
  border-radius: 7px;
}
input[type="text"]{
  font-weight: bold;
  font-size: 20px;
}
input[type="text"]:focus{
  background-color: antiquewhite;
  font-weight: bold;
}
input[type="submit"]{
  background-color: gray;
  color: white;
  padding: 20px;
  font-size: 18px;
}
input[type="submit"]:hover{
  cursor: pointer;
  background-color: #4d5873;
}
input[type="password"]:focus{
  background-color: antiquewhite;
  font-weight: bold;
}
/* Inicio panel adm */
.header{
  padding: 10px 10px;
  background-color: thistle;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.barleft{
  width: 100%;
  min-height: 200vh;
  background-color: wheat;
  display: inline;
  transition: 100ms color;
  color: white;
}
section{
  width: 100%;
  min-height: 500vh;
  /* background-image: url(../img/python.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 50px 20px;*/
}
.user{
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.perfil{
  width: 50%;
  border-radius: 50%;
}
.barleft ul{
  margin-left: 15px;
  list-style: none;
}
.barleft ul li{
  padding-left: 15px;
  padding: 15px;
  text-overflow: ellipsis;
  transition: 500ms background;
  white-space: nowrap;
  overflow: hidden;
}
.barleft ul li:hover{
  background-color: orangered;
}
.barleft ul li a i{
  display: inline-block;
  padding: 15px;
  cursor: pointer;
  color: violet;
}
.name{
  padding-left: 15px;
  color: rgb(17, 12, 12);
}
.name b {
  color: rgb(15, 18, 9);
  padding: 10px;
}
.barleft ul li a{
  color: white;
  text-decoration: none;
}
#checkbox{
  display: none;
}
#checkbox:checked ~ .body .barleft {
  width: 100px;
}
#checkbox:checked ~ .body .barleft .user-p {
  visibility: hidden;
}
#checkbox:checked ~ .body .barleft a span {
  display: none;
}
.ri-home-8-line{
  width: 24px;
  height: 24px;
  color: white;
}
.video{
  width: 600px;
  height: 500px;
  margin: 0 auto;
}
form{
  display: inline;
}
label{
  font-size: 12px;
}
input{
  width: 100px;
  font-size: 12px;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

th,
td {
  padding: 2px;
}
.centrar{
  margin: 0 auto;
}